
@model IPLAwardManagementSystem.DTOs.PlayerAwardDto
@{
    ViewData["Title"] = "Nomination Details";
}
<h2>Nomination Details</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Player</dt>
        <dd class="col-sm-10">@Model.PlayerName</dd>

        <dt class="col-sm-2">Award</dt>
        <dd class="col-sm-10">@Model.AwardName</dd>

        <dt class="col-sm-2">Year</dt>
        <dd class="col-sm-10">@Model.NominationDate.Year</dd>

        <dt class="col-sm-2">Winner</dt>
        <dd class="col-sm-10">@Model.IsWinner</dd>

        <dt class="col-sm-2">Votes</dt>
        <dd class="col-sm-10">@Model.VotesReceived</dd>
    </dl>
</div>
<a asp-action="Index" class="btn btn-secondary">Back</a>
