@model IEnumerable<IPLAwardManagementSystem.Models.Team>
@{
    ViewData["Title"] = "Teams";
}

<h1>Team List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Team</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Coach</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var team in Model)
    {
        <tr>
            <td>@team.TeamName</td>
            <td>@team.Coach</td>
            <td>
                <a asp-action="Details" asp-route-id="@team.TeamId">Details</a> |
                <a asp-action="Edit" asp-route-id="@team.TeamId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@team.TeamId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>