@model IPLAwardManagementSystem.DTOs.PlayerDetailDto
@{
    ViewData["Title"] = "Player Details";
}

<h2 class="mb-4">Player Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Role</dt>
    <dd class="col-sm-9">@Model.Role</dd>

    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">@Model.Age</dd>

    <dt class="col-sm-3">Team</dt>
    <dd class="col-sm-9">@Model.TeamName</dd>
</dl>

<h4 class="mt-4">Awards</h4>
@if (Model.Awards != null && Model.Awards.Any())
{
    <ul class="list-group">
        @foreach (var award in Model.Awards)
        {
            <li class="list-group-item">
                @award.AwardName
                @if (award.IsWinner)
                {
                    <span class="badge bg-success ms-2">Winner</span>
                }
            </li>
        }
    </ul>
}
else
{
    <p>No awards for this player.</p>
}

<a asp-action="Edit" asp-route-id="@Model.PlayerId" class="btn btn-warning mt-4">Edit</a>
<a asp-action="Index" class="btn btn-secondary mt-4">Back to List</a>